{% extends "base.html" %}

{% block content %}

<div class="auth-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-5">

                <div class="card auth-card shadow-lg">

                    <div class="card-body p-4">

                        <h2 class="text-center mb-3">Create Account</h2>

                        <p class="text-center text-muted mb-4">
                            Join SmartBooks and start receiving personalized book recommendations.
                        </p>

                        <form method="POST">

                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email"
                                        name="email"
                                        class="form-control"
                                        pattern="^[A-Za-z0-9]+@(gmail|icloud|yahoo|hotmail|outlook)\.(com|al|net|org)$"
                                        title="Use a valid email such as example@gmail.com" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password"
                                        name="password"
                                        class="form-control"
                                        pattern="^[A-Za-z0-9!@#$%^&*()_+\-=\[\]{};':&quot;\\|,.<>\/?]+$"
                                        title="Password can contain letters, numbers and symbols." required>
                            </div>

                            <button type="submit" class="btn btn-primary w-100">
                                Register
                            </button>

                        </form>

                        <p class="text-center mt-3 mb-0">
                            Already have an account?
                            <a href="{{ url_for('login') }}">Login here</a>
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}